<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   	  <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"></meta>
      <title>刷刷</title>
      <link rel="stylesheet" href="/jquery-weui-build/dist/lib//weui.min.css"/>
	  <link rel="stylesheet" href="/jquery-weui-build/dist/css/jquery-weui.min.css"/>
   </head>
<body>

<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">操作成功</h2>
    <p class="weui-msg__desc"><th:block th:utext="${successMsg}"></th:block></p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="/doctor?TARGET=myShuaShua" class="weui-btn weui-btn_primary">查看我的刷刷</a>
<!--       <a href="javascript:window.history.back();return false;" class="weui-btn weui-btn_default">返回</a> -->
    </p>
  </div>
  <div class="weui-msg__extra-area">
    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="javascript:void(0);" class="weui-footer__link"></a>
      </p>
      <p class="weui-footer__text">Copyright © 2018 ShuaShua</p>
    </div>
  </div>
</div>

 
<script src="/jquery-weui-build/dist/lib/jquery-2.1.4.js"></script>
<script src="/jquery-weui-build/dist/js/jquery-weui.min.js"></script>
<script src="/jquery-weui-build/dist/js/swiper.min.js"></script>
<script src="/jquery-weui-build/dist/js/city-picker.min.js"></script>

   </body>
   <script>
   		
   		
   </script>
</html>